form p {
  color: #ffffff80;
  font-weight: 400;
  font-size: 14px;
}
form p:hover {
  text-decoration: underline;
  color: #ffffffb7;
  cursor: pointer;
}
.main-login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(33px);
}
.login-container {
  display: block;
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:center;
}
.login-container h1 {
  font-size: 24px;
  color: white;
  font-weight: 400;
}
form label {
  color: white;
  font-size: 16px;
  padding: 0 0 0 16px;
}
form input {
  width: 340px;
  height: auto;
  padding: 16px 24px;
  border-radius: 200px;
  background-color: #363647;
  border: 1px solid transparent;
  outline: none;
  color: white;
  font-weight: 400;
}
.auth-login-bottom-container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.auth-container h2 {
  font-size: 14px;
  color: #ffffff80;
  font-weight: 400;
  margin-top: 20px;
}
.auth-container strong {
  font-weight: 400;
  text-decoration: underline;
  cursor: pointer;
}
.auth-button {
  width: 340px;
  height: auto;
  padding: 12px 24px;
  border-radius: 200px;
  border: none;
  color: white;
  font-weight: 400;
  transition: .5s ease;
  background: linear-gradient(90deg, #52fff3, #380ad1 32.6%, #7b0ad1 68.54%, #d840fb);
}
.auth-button:hover {
  box-shadow: -3px 3px 10px #52fff3e6, 3px 3px 10px #d840fb, -3px -3px 10px #380ad1, 3px -3px 10px #7b0ad1;
}
.to-main-page h3 {
  color: white;
  font-weight: 500;
  font-size: 14px;
  transition: .5s;
  cursor: pointer;
}
.to-main-page h3:hover {
  color: #d840fb;
}
.h6-1-validator {
  font-size: 12px !important;
  color: red !important;
  margin: 0;
  padding: 0;
}
.h6-2-validator {
  font-size: 12px !important;
  color: red !important;
  margin: 0;
  padding: 0;
}
.on-invalid-user {
  background-color: #00000080;
  padding: 16px;
  width: 340px;
  height: auto;
}
.on-invalid-user small {
  font-size: 14px;
  color: white;
  font-weight: 500;
}
.on-invalid-user strong {
  color: #d840fb;
  text-decoration: underline;
  padding-left: 8px;
  font-weight: 400;
  cursor: pointer;
  transition: .5s;
}
.on-invalid-user strong:hover {
  color: #ae0dd2;
  text-decoration: none;
}
.input-wrapper {
  display: flex;
  position: relative;
  width: 340px;
}
.password-container i {
  position: absolute;
  right: 15px;
  top: 50%;
  font-size: 18px;
  color: #ffffff80 !important;
}





@media (max-width: 1200px) {
  .login-container h1 {
    font-size: 22px;
  }
  form input {
    width: 300px;
  }
  .auth-button {
    width: 300px;
  }
  .on-invalid-user {
    width: 300px;
  }
  .password-container i {
    right: 65px !important;
  }
}

@media (max-width: 992px) {
  .login-container h1 {
    font-size: 20px;
  }
  form input {
    width: 280px;
  }
  .auth-button {
    width: 280px;
  }
  .on-invalid-user {
    width: 280px;
  }
  .password-container i {
    right: 75px !important;
  }
}

@media (max-width: 768px) {
  .login-container h1 {
    font-size: 18px;
  }
  form input {
    width: 260px;
  }
  .auth-button {
    width: 260px;
  }
  .on-invalid-user {
    width: 260px;
  }
  .password-container i {
    right: 95px !important;
  }
}

@media (max-width: 576px) {
  .login-container h1 {
    font-size: 16px;
  }
  form input {
    width: 90% !important;
  }
  .auth-button {
    width: 90% !important;
  }
  .on-invalid-user {
    width: 90% !important;
  }
  .password-container i {
    right: 55px !important;
  }
}
@media (max-width: 1286px) {
  .password-container i {
    right: 15px;
  }
}
@media (max-width: 431px) {
  .password-container i {
    right: 15px;
  }
}