.background {
  position: relative;
  width: 100%;
  height: 100vh;
}
.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #010116;
}
.content {
  position: absolute;
  top: 50%;
  right: 0;
  left: auto;
  transform: translateY(-50%);
  width: auto;
  height: 100vh;
}
.login-width {
  width: 36% !important;
}
.register-width {
  width: 50% !important;
}
.password-width {
  width: 36%;
}
.verify-width {
  width: 50% !important;
}



@media (max-width: 1200px) {
  .login-width {
    width: 50% !important;
  }
  .register-width {
    width: 60% !important;
  }
  .password-width {
    width: 50%;
  }
  .verify-width {
    width: 60% !important;
  }
}

@media (max-width: 992px) {
  .login-width,
  .password-width {
    width: 80% !important;
  }
  .register-width,
  .verify-width {
    width: 85% !important;
  }
}

@media (max-width: 768px) {
  .login-width,
  .password-width {
    width: 90% !important;
  }
  .register-width,
  .verify-width {
    width: 95% !important;
  }
}

@media (max-width: 576px) {
  .login-width,
  .password-width {
    width: 100% !important;
  }
  .register-width,
  .verify-width {
    width: 100% !important;
  }
}