<div class="password-container">
    <div class="content-container" *ngIf="!resetRequested">
        <h1 *ngIf="!resetRequested">პაროლის აღდგენა</h1>
        <form *ngIf="!resetRequested" #resetPasswordForm="ngForm" (ngSubmit)="onSubmitBtnClick(resetPasswordForm)">
            <div class="inp-container">
                <label for="email" name="email">ელ-ფოსტა</label>
                <input 
                    appAuthInputBorderFocus 
                    ngModel 
                    class="mt-3" 
                    type="email" 
                    id="email" 
                    name="email" 
                    required 
                    pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                    #emailInp="ngModel">
                <div class="validator-h6 mt-1" *ngIf="emailInp.hasError('required') && emailInp.dirty && emailInp.invalid">
                    <h6 class="h6-1-validator">შევსება აუცილებელი</h6>
                </div>
                <div class="validator-h6 mt-1" *ngIf="emailInp.hasError('pattern') && emailInp.dirty">
                    <h6 class="h6-2-validator">უი! აბა, ელ-ფოსტა გადაამოწმე</h6>
                </div>
            </div>
            <button type="submit">გაგზავნა</button>
        </form>
        <p class="to-main-page" routerLink="/">მთავარ გვერდზე დაბრუნება</p>
    </div>
    
    <div *ngIf="resetRequested" class="reset-message">
        <h1>პაროლის აღდგენა</h1>
        <div class="after-request-inside-container">
            <small>შეამოწმეთ თქვენი ელ-ფოსტა.</small>
            <button routerLink="/" class="mt-3">მთავარ გვერდზე დაბრუნება</button>
        </div>
    </div>
</div>
