@import "@angular/material/prebuilt-themes/azure-blue.css";


body {
    background-color: #010116 !important;
}
a {
    text-decoration: none !important;
    color: inherit !important;
}
*:not(i) {
    font-family: "Noto Sans Georgian", serif !important;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: transparent;
    border: 1px solid #ea1cf3;
    position: relative;
    border-radius: 10px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-select-panel {
    background-color: #010116 !important;
    border-radius: 12px !important;
    border: 1px solid rgb(255, 230, 91) !important;
    
}
.mat-mdc-select .mat-mdc-select-arrow {
    color: black !important;
}
.mat-mdc-option{
    color: white !important;
}
.mat-mdc-form-field {
    height: 75px;
    border-radius: 30px !important;
}
.mat-mdc-text-field-wrapper {
    background-color: #010116 !important;
    border-radius: 30px !important;
    border: 1px solid #6610f2;
}
.mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-mdc-text-field-wrapper{
    display: flex;
    align-items: center;
}
.mat-mdc-select-min-line{
    color: white;
}
svg{
    color: white;
}
.mat-mdc-text-field-wrapper:hover svg{
    color: rgb(120, 0, 153);
}

@media (max-width: 568px) {
    .mat-mdc-form-field {
        width: 400px !important;
        height: 60px;
    }
    .mat-mdc-text-field-wrapper {
        width: 400px !important;
    }
    .mat-mdc-select-panel {
        width: 400px !important;
    }
}
@media (max-width: 526px ) {
    .mat-mdc-form-field {
        width: 350px !important;
        height: 60px;
    }
    .mat-mdc-text-field-wrapper {
        width: 350px !important;
    }
    .mat-mdc-select-panel {
        width: 350px !important;
    }
}

@media (max-width: 481px) {
    .mat-mdc-form-field {
        width: 300px !important;
        height: 60px;
    }
    .mat-mdc-text-field-wrapper {
        width: 300px !important;
    }
    .mat-mdc-select-panel {
        width: 300px !important;
    }
}